header {
    width: 100%;
    height: 60px;
    background-color: purple;
    position: fixed;
    z-index: 10;
}

.banner {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 35px;
    color: purple;
}

.placeHolder {
    height: 60px;
    background-color: white;

}

.contentArea {
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 30%;
}

.jumbo-index-page {
    background-color: purple;
    color: white;
    font-family: 'Gloria Hallelujah',cursive;
    margin-left: 20%;
    margin-right:20%;
}

.btn-group-index-page {
    margin-top: 10%;
    text-align: center;
    margin-left: 20%;
    margin-right:25%;
}
body {
    background-color: purple;
}

#content {
    overflow: scroll;
    height: 400px;
}

/* iPhone 4 and 4S */
@media screen and (device-aspect-ratio: 2/3) {
    .contentArea {
        margin-top: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* iPhone 5 */
@media screen and (device-aspect-ratio: 40/71) {
    .contentArea {
        margin-top: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* iPhone 6 */
@media screen and (device-aspect-ratio: 667/375) {
    .contentArea {
        margin-top: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* iPhone 6 Plus */
@media screen and (device-aspect-ratio: 16/9) {
    .contentArea {
        margin-top: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }

}
/* iPad */

@media screen and (device-aspect-ratio: 3/4) {

}