header {
    width: 100%;
    height: 60px;
    background-color: purple;
    position: fixed;
    z-index: 10;
}

.banner {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 35px;
    color: white;
}

.banner-right {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right:15px;
    font-family: 'Helvetica', cursive;
    font-size: 20px;
    color: white;
    float:right;
}

.placeHolder {
    height: 60px;
    background-color: white;

}

.contentArea {
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 30%;
}

body {
    background-color: white;
}

.invitations {
    overflow: scroll;
    height: 500px;
}

/* iPhone 4 and 4S */
@media screen and (device-aspect-ratio: 2/3) {
    .contentArea {
        margin-top: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .banner-right {
        font-family: 'Helvetica', cursive;
        font-size: 10px;
        color: white;
        float:right;
    }
    .invitations {
        height: 300px;
    }
}

/* iPhone 5 */
@media screen and (device-aspect-ratio: 40/71) {
    .contentArea {
        margin-top: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .banner-right {
        font-family: 'Helvetica', cursive;
        font-size: 10px;
        color: white;
        float:right;
    }
    .invitations {
        height: 350px;
    }
}

/* iPhone 6 */
@media screen and (device-aspect-ratio: 375/667) {
    .contentArea {
        margin-top: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .banner-right {
        font-family: 'Helvetica', cursive;
        font-size: 10px;
        color: white;
        float:right;
    }
}

/* iPhone 6 Plus */
@media screen and (device-aspect-ratio: 9/16) {
    .contentArea {
        margin-top: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .banner-right {
        font-family: 'Helvetica', cursive;
        font-size: 10px;
        color: white;
        float:right;
    }

}
/* iPad */

@media screen and (device-aspect-ratio: 3/4) {

}