<!DOCTYPE html>
<html ng-app="invitedPage">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport"
          content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap-3.3.4-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style/invited.css">
    <link rel="stylesheet" type="text/css" href="vendors/ratchet-2.0.2/dist/css/ratchet.css">
    <link rel="apple-touch-icon" href="images/icon.png">
    <title>Improvise</title>
    <script src="vendors/angular.js"></script>
    <script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/v2.0.4/src/scrollglue.js"></script>
    <script src="scripts/invited.js"></script>
</head>
<body ng-controller="mainCtrl">
<header>
    <div class="banner">
        Improvise
        <span class="banner-right"><a href="/logout">Log out</a></span>
        <span class="banner-right">{{user.username}}</span>
    </div>
</header>
<div class="placeHolder">

</div>
<div class="contentArea invitations" scroll-glue="glued">
    <div class="panel panel-default" ng-repeat="invitedInvitation in invitedInvitations track by $index">
        <div class="panel-heading">
            <h3 class="panel-title">{{invitedInvitation[0].content}}</h3>
        </div>
        <div class="panel-body" ng-repeat="receive in invitedInvitation">
            {{receive.receiver}}
        </div>
    </div>
</div>

<nav class="bar bar-tab">
    <div class="tab-item" href="#">
        <span class="icon icon-home" ng-click="landing()"></span>
        <span class="tab-label">Channels</span>
    </div>
    <div class="tab-item active" href="#">
        <span class="icon icon-star-filled"></span>
        <span class="tab-label">Invited</span>
    </div>
    <div class="tab-item" href="#">
        <span class="icon icon-star-filled" ng-click="accepted()"></span>
        <span class="tab-label">Accepted</span>
    </div>
    <div class="tab-item" href="#">
        <span class="icon icon-person" ng-click="profile()"></span>
        <span class="tab-label">Profile</span>
    </div>
</nav>
</body>
</html>
